{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="product-list">
            <h1>Search Results</h1>
            <p>Showing results for "{{ q }}"</p>
                <div class="container py-5 bg-white">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="mb-5 position-relative">
                                <div class="black-overlay"></div>
                                <div class="row pb-3">
                                    {% for product in products %}
                                        <div class="col-lg-4 mb-4">
                                            <div class="blog-item position-relative overflow-hidden rounded mb-2">
                                                <a class="blog-overlay text-decoration-none" href="{% url 'product-detail' product.pk %}">
                                                    <img src="{{ product.image.url }}" class="img-fluid" alt="">
                                                    <h5 class="text-primary m-0">Имя:{{ product.name }}</h5>
                                                    <p class="text-primary m-0">цена:{{ product.price }}</p>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}