{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid">
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
					<div class="col-sm-2 padding_0">
					</div>
					<div class="col-sm-5">
						<div class="banner_taital">
							<h1 class="banner_text">New Running Shoes </h1>
							<h1 class="mens_text"><strong>Men's Like Plex</strong></h1>
							<p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							<button class="buy_bt">Buy Now</button>
							<button class="more_bt">See More</button>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="shoes_img"><img src={% static 'images/running-shoes.png' %}></div>
					</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- New Arrivals section start -->
    <div>
        <div class="container">
            <div class="row"></div>
            <div class="row pb-3">
                {% for product in products %}
                    <div class="col-lg-4 mb-4">
                        <div class="blog-item position-relative overflow-hidden rounded mb-2">
                            <a class="blog-overlay text-decoration-none" href="{% url 'product-detail' product.pk %}">
                                <img src="{{ product.image.url }}" class="img-fluid" alt="">
                                <h5 class="text-white mb-3">Имя:{{ product.name }}</h5>
                                <p class="text-primary m-0">цена:{{ product.price }}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Blog End -->
    <!-- New Arrivals section end -->

    <!-- contact section start -->
    <div class="layout_padding contact_section">
        <div class="container">
            <h1 class="new_text"><strong>Contact Now</strong></h1>
        </div>
        <div class="container-fluid ram">
            <div class="row">
                <div class="col-md-6">
                    <div class="email_box">
                        <div class="input_main">
                            <div class="container">
                                <form action="/action_page.php">
                                    <div class="form-group">
                                        <input type="text" class="email-bt" placeholder="Name" name="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="email-bt" placeholder="Phone Numbar" name="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="email-bt" placeholder="Email" name="Email">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="send_btn">
                                <button class="main_bt">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="shop_banner">
                        <div class="our_shop">
                            <button class="out_shop_bt">Our Shop</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact section end -->
    <!-- section footer start -->
    <div class="section_footer">
        <div class="container">
            <div class="mail_section">
                   <div class="row">
                       <div class="col-sm-6 col-lg-2">
                           <div><a href="#"><img src={% static 'images/footer-logo.png' %}></a></div>
                       </div>
                       <div class="col-sm-6 col-lg-2">
                           <div class="footer-logo"><img src={% static 'images/phone-icon.png' %}><span class="map_text">(71) 1234567890</span></div>
                       </div>
                       <div class="col-sm-6 col-lg-3">
                           <div class="footer-logo"><img src={% static 'images/email-icon.png' %}><span class="map_text">Demo@gmail.com</span></div>
                       </div>
                       <div class="col-sm-6 col-lg-3">
                           <div class="social_icon">
                               <ul>
                                   <li><a href="#"><img src={% static 'images/fb-icon.png' %}></a></li>
                                   <li><a href="#"><img src={% static 'images/twitter-icon.png' %}></a></li>
                                   <li><a href="#"><img src={% static 'images/in-icon.png' %}></a></li>
                                   <li><a href="#"><img src={% static 'images/google-icon.png' %}></a></li>
                               </ul>
                           </div>
                       </div>
                       <div class="col-sm-2"></div>
                   </div>
            </div>
            <div class="footer_section_2">
                <div class="row">
                    <div class="col-sm-4 col-lg-2">
                        <p class="dummy_text"> ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur  ipsum dolor sit amet,</p>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h2 class="shop_text">Address </h2>
                        <div class="image-icon"><img src={% static 'images/map-icon.png' %}><span class="pet_text">No 40 Baria Sreet 15/2 NewYork City, NY, United States.</span></div>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-3">
                        <h2 class="shop_text">Our Company </h2>
                        <div class="delivery_text">
                            <ul>
                                <li>Delivery</li>
                                <li>Legal Notice</li>
                                <li>About us</li>
                                <li>Secure payment</li>
                                <li>Contact us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h2 class="adderess_text">Products</h2>
                        <div class="delivery_text">
                            <ul>
                                <li>Prices drop</li>
                                <li>New products</li>
                                <li>Best sales</li>
                                <li>Contact us</li>
                                <li>Sitemap</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <h2 class="adderess_text">Newsletter</h2>
                        <div class="form-group">
                            <input type="text" class="enter_email" placeholder="Enter Your email" name="Name">
                        </div>
                        <button class="subscribr_bt">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- section footer end -->
	<div class="copyright">Tolonbekov Khalil-<a href="https://html.design">-Толонбеков Халил</a></div>

{% endblock %}